@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --rgba-color: 0, 0, 0, 50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.btn {
  @apply cursor-pointer;
}

.btn-primary {
  @apply bg-sky-600 text-white sm:hover:bg-sky-700 active:bg-sky-400;
}

.btn-danger {
  @apply bg-red-600 text-white hover:bg-red-700;
}

.btn-success {
  @apply bg-green-600 text-white hover:bg-green-700;
}

.done {
  @apply line-through;
}

.item {
  @apply flex justify-between items-center text-2xl p-4 mt-6 bg-gray-800
}

.card {
  @apply shadow shadow-gray-600 rounded
}

.modal {
  @apply fixed top-0 left-0 w-screen h-screen flex justify-center items-center;
  background-color: rgba(128, 128, 128, 0.2);
  overflow: hidden;
}

.cardModal {
  @apply p-4 pt-2 bg-black;
  overflow: hidden;
}